<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.seyon.memorycheck" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Splash"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Step1"
            android:label="@string/title_activity_step1"
            android:parentActivityName=".Splash" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.seyon.memorycheck.Home" />
        </activity>
        <activity
            android:name=".Step2"
            android:label="@string/title_activity_step2" >
        </activity>
        <activity
            android:name=".Step3"
            android:label="@string/title_activity_step3" >
        </activity>
        <activity
            android:name=".Step4"
            android:label="@string/title_activity_step4" >
        </activity>
        <activity
            android:name=".Step5"
            android:label="@string/title_activity_step5" >
        </activity>
        <activity
            android:name=".Step6"
            android:label="@string/title_activity_step6" >
        </activity>
        <activity
            android:name=".step7"
            android:label="@string/title_activity_step7" >
        </activity>
    </application>

</manifest>
